$boxcolor: rgba(3,3,3,0.6);//primary color of all boxes
$white: #ffffff;

#button1{
  visibility: visible;
}
#button2{
  visibility: visible;
}

#button3{
  visibility: hidden;
}

#question{
  visibility: visible;
  font-size: 30px;
  font-weight: lighter;
  color: $white;
  text-shadow: 0 0 3px black;
}

.button {
  color: $white;
  font-size: 40px;
  font-weight: lighter;
  background: $boxcolor;
  padding: 50px 50px 50px 50px;
  position: relative;
  margin-top: 120px;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;

}

.button:hover {
  background: rgba(100,100,100,0.6);
  text-decoration: none;
  cursor: pointer;
}
#main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.b{
  float:right;

}