$boxcolor: rgba(3,3,3,0.6);//primary color of all boxes
$white: #ffffff;

#button1{
  visibility: visible;
}
#button2{
  visibility: visible;
}

#button3{
  visibility: hidden;
}

#question{
  visibility: visible;
  font-size: 30px;
  font-weight: lighter;
  color: $white;
  text-shadow: 0px 2px 6px rgba(0,0,0,.5);
}

.selector {
  color: $white;
  font-size: 40px;
  font-weight: lighter;
  background: $boxcolor;
  padding: 50px 50px 50px 50px;
  position: relative;
  margin-top: 120px;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 3px 9px rgba(0,0,0,.5);



}

.selector:hover {
  background: rgba(100,100,100,0.6);
  text-decoration: none;
  background: rgba(0,0,0,0.8);
  cursor: pointer;
  box-shadow: 0px 4px 11px rgba(0,0,0,.7);


}
#main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.a{
  float: left;
}
.b{
  float:right;

}

.question{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

