$boxcolor: rgba(3,3,3,0.5);//primary color of all boxes

.loginbox{
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  background-color: $boxcolor;
  color: #333333;
  padding: 20px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
//lightbox
.lightbox{
  background-color: $boxcolor;
  color: white;
  border-radius: 0;
}
.x{
  color: rgba(255,255,255,1);
}
.backlight{
  background-color: rgba(255,255,255,0.02);
}
//eingabefelder
.form-control{
  width: 200px;
}
