$b: 980px; //width der Seite
$boxcolor: rgba(3,3,3,0.5);//primary color of all boxes

body{
  //background-image: url(/projectpiXOR/pixor/images/background.jpg), url(/projectpiXOR/pixor/images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  // Fade IN & OUT settings for background images:

  -webkit-transition: background 3000ms ease-in 2s; /* property duration timing-function delay */
  -moz-transition: background 3000ms ease-in 2s;
  -o-transition: background 3000ms ease-in 2s;
  transition: background 3000ms ease-in 2s;

  -webkit-transition-property: background;
  -webkit-transition-duration: 3000ms;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 100ms;

  -moz-transition-property: background;
  -moz-transition-duration: 3000ms;
  -moz-transition-timing-function: ease-in;
  -moz-transition-delay: 100ms;

  -o-transition-property: background;
  -o-transition-duration: 3000ms;
  -o-transition-timing-function: ease-in;
  -o-transition-delay: 100ms;

  transition-property: background;
  transition-duration: 3000ms;
  transition-timing-function: ease-in;
  transition-delay: 100ms;


}

header{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.3);
}

//social media buttons
.socialmedia{
  float: right;
  padding-right: 5px;
}
.social{
  height: 32px;
  opacity: 1;
  margin-top: 32px;
  margin-left:32px;
}
.social:hover{
  opacity: 0.2;
}
//logo
.pixor{
  opacity: 0;
}
.pixor:hover{
  opacity: 1;
}
.logo{
  height: 100px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}


footer{
  background-color: rgba(255,255,255,0.3);
  color: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

//general
.width{
  width:$b;
}















