$b: 980px;
body{
  //background-image: url(/projectpiXOR/pixor/images/background.jpg), url(/projectpiXOR/pixor/images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  // Fade IN & OUT settings for background images:

  -webkit-transition: background 3000ms ease-in 2s; /* property duration timing-function delay */
  -moz-transition: background 3000ms ease-in 2s;
  -o-transition: background 3000ms ease-in 2s;
  transition: background 3000ms ease-in 2s;

  -webkit-transition-property: background;
  -webkit-transition-duration: 3000ms;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 100ms;

  -moz-transition-property: background;
  -moz-transition-duration: 3000ms;
  -moz-transition-timing-function: ease-in;
  -moz-transition-delay: 100ms;

  -o-transition-property: background;
  -o-transition-duration: 3000ms;
  -o-transition-timing-function: ease-in;
  -o-transition-delay: 100ms;

  transition-property: background;
  transition-duration: 3000ms;
  transition-timing-function: ease-in;
  transition-delay: 100ms;


}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  top: 10px;
  background-color: RGBA(50,50,50,0.5);
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: $b;
}
footer{
  background-color: #ffffff;
  color: white;
  width: 100%;
  height: 7.5%;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: RGBA(50,50,50,0.5);
}

.fa {
  padding: 0px;
  top: 10px;
  font-size: 10px;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 1;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.62);
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.loginbox{
  float: left;
  margin-top: 50px;
  background-color: rgba(3,3,3,0.2);
  padding: 20px;
}

.lightbox{
  background-color: rgba(100,100,100,0.8);
  color: white;
  border-radius: 0;
}

.backlight{
  background-color: rgba(255,255,255,0.02);
}

.centerheader{
  width: $b;
}

.logo {
  height: 100px;
  opacity: 0;
}
.logo:hover{
  opacity: 1;
}

.logo2 {
  height: 100px;
}

